<h1>All Books</h1>
<%= link_to "Add book", new_book_path %>

<ul id="stats-box">
  <h3>Highest Rated Books</h3>
  <div id="top-rated">
      <% @stat_books.highest_three_scores.each do |book| %>
      <li>Title: <%= link_to book.title, book_path(book) %></li>
      <li>Rating: <%= book.average_review_score %></li>
        <br>
      <% end %>
  </div>
  <br>
  <h3>Lowest Rated Books</h3>
  <div id="lowest-rated">
      <% @stat_books.lowest_three_scores.each do |book| %>
        <li>Title: <%= link_to book.title, book_path(book) %></li>
        <li>Rating: <%= book.average_review_score %></li>
        <br>
      <% end %>
  </div>
  <h3>Most Active Users</h3>
  <div id="user-review-stats">
    <% @user_reviews.top_three_reviewers.each do |review_pair| %>
      <li>User: <%= link_to "#{review_pair[0]}", reviews_path(arg: review_pair[0]) %></li>
      <li>Review Count: <%= review_pair[1] %></li>
      <br>
    <% end %>
  </div>
  <br>
</ul>

<ul class='sort-links'>
    <%= link_to 'Most Pages', books_path(sort: 'descending_pages') %>
    <%= link_to 'Least Pages', books_path(sort: 'ascending_pages') %>
    <%= link_to 'Highest Ratings', books_path(sort: 'descending_rating') %>
    <%= link_to 'Lowest Ratings', books_path(sort: 'ascending_rating') %>
    <%= link_to 'Most Reviews', books_path(sort: 'descending_reviews') %>
    <%= link_to 'Least Reviews', books_path(sort: 'ascending_reviews') %>
</ul>

<ul id="book-list">
<% @books.each do |book| %>
  <div id="<%=book.id%>">
    <h2>Title: <%= link_to book.title, book_path(book) %></h2>
    <h5>Average score: <%= book.average_review_score %></h5>
    <h5>Total reviews: <%= book.review_count %></h5>
    <h2>Author(s):</h2>
     <% book.authors.each do |author|%>
      <li><%= link_to "#{author.name}", author_path(author) %></li>
      <% end %>
    <p>Pages: <%= book.page_count %></p>
    <p>Publication Year: <%= book.pub_year %></p>
    <img height="200" width="150" src="<%= book.thumbnail_url %>" alt="Book Thumbnail">
  </div>
<% end %>
</ul>
