<h1>All Books</h1>

<ul class='sort-links'>
    <%= link_to 'Most Pages', books_path(sort: 'descending_pages') %>
    <%= link_to 'Least Pages', books_path(sort: 'ascending_pages') %>
</ul>

<% @books.each do |book| %>
  <h2>Title: <%= link_to book.title, book_path(book) %></h2>
  <p>Pages: <%= book.page_count %></p>
  <p>Publication Year: <%= book.pub_year %></p>
  <img src="<%= book.thumbnail_url %>" alt="Book Thumbnail">
<% end %>
