<% if @book.errors.any? %>
  <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>
<%= form_for @book do |f| %>
  <div id="title">  <%= f.label :title %>
  <%= f.text_field :title %></div>
  <div id="pub-year"><%= f.label :pub_year %>
  <%= f.number_field :pub_year, in: 1000..Time.now.year %></div>
  <div id="page-count"><%= f.label :page_count %>
  <%= f.number_field :page_count %></div>
  <div id="thumbnail-url"><%= f.label :thumbnail_url %>
  <%= f.text_field :thumbnail_url %></div>
  <div id="authors"><%= label_tag :authors %>
  <%= text_field_tag :authors %></div>
  <%= f.submit %>
<% end %>
