
<h1>Title: <%= link_to @book.title, book_path(@book) %></h1>
<h3>Average Review Score: <%= @book.average_review_score %></h3>
<h3>Total Reviews: <%= @book.review_count %></h3>

  <p>
    <ul><li>Page Count: <%= @book.page_count %></li>
      <li>Publication Year: <%= @book.pub_year %></li>
      <ul>Author(s):<% @book.authors.each do |author|%>
        <li><%= link_to "#{author.name}", author_path(author)%></li>
        <% end %></ul>
      <li><img src="<%= @book.thumbnail_url %>" alt="Book Thumbnail"></li>
      <br>
      <li>Reviews:<% @book.reviews.each do |review|%>
        <ul><li>Review title: <%= review.heading %></li>
            <li>Reviewed by: <%= link_to "#{review.username}", reviews_path(arg: review.username) %></li>
            <li>Rating: <%= review.score %>/5</li>
            <li><%= review.full_review %></li></ul>
            <br>
        <% end %></li>
        <br>
        <ul id="review-stats">Review Stats:
          <ul id="highest">
            <li>Highest 3 Reviews: <% @book.highest_three_reviews.each do |review| %>
              <ul>
                <li><%= review.heading %></li>
                <li><%= review.score %>/5</li>
                <li><%= link_to "#{review.username}", reviews_path(arg: review.username) %></li>
                <br>
              </ul>
            <% end %></li>
          </ul>
          <ul id="lowest">
            <li>Lowest 3 Reviews: <% @book.lowest_three_reviews.each do |review| %>
              <ul>
                <li><%= review.heading %></li>
                <li><%= review.score %>/5</li>
                <li><%= link_to "#{review.username}", reviews_path(arg: review.username) %></li>
                <br>
              </ul>
            <% end %></li>
          </ul>
        </ul>
      </ul>
  </p>
<%= link_to "<< Back to Books Home", books_path %>

<%= link_to "Add Review", new_book_review_path(@book) %>

<%= link_to "Delete Book", book_path(@book), method: :delete %>
