<h1> <%= @user %></h1>
<section id="sort-reviews">
  <%= link_to 'Newest Reviews', reviews_path(arg: @user, sort: "newest")%>
  <%= link_to 'Oldest Reviews', reviews_path(arg: @user, sort: "oldest")%>
</section>

<% @reviews.each do |r| %>
  <section class="review" id=<%="review-#{r.id}"%>>
    <p><%= link_to r.book.title, book_path(r.book) %></p>
    <p><%= r.heading %></p>
    <p><%= r.score %></p>
    <p><%= r.full_review %></p>
    <p><%= r.created_at.to_date.to_s %></p>
    <%= image_tag "#{r.book.thumbnail_url}" %></p>
    <!-- <p><%= link_to "Delete Review", book_review_path(book_id: r.book.id, id: r.id), method: :delete %></p> -->
    <p><%= link_to "Delete Review", review_path(r.id), method: :delete %></p>

  </section>
<% end %>
