<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <div class="topnav">
       <a href="/">Home</a>
       <a href="books#index">Books</a>  
     </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
